.has-gutter  tr{
    background-color: #eeeeee !important;

}
.el-table{
    border: 1px solid #f0f0f0;
}
.el-dialog__body{
    padding: 20px 20px;
}

.el-dialog::after{
  content: '';
  width : calc( 100% + 16px);
  height:calc( 100% + 16px );
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    left: -8px;
    top: -8px;
    z-index: -1;
}
.el-pagination{
    margin-top: 20px;
}
.btn{
    position: absolute;
    right: 10px;
    bottom: 0px;
}
